<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-2 example-container">
      <img class="example-full-width" id="avatar" src="https://www.w3schools.com/w3images/avatar2.png">
      <div class="example-full-width">
        <strong><textarea id="fullname" readonly matTextareaAutosize matAutosizeMinRows=3>{{fullname}}</textarea></strong>
      </div>
      <div class="example-full-width"><textarea id="bio" readonly matTextareaAutosize matAutosizeMinRows=3>{{bio}}</textarea>
      </div>
    </div>
    <div class="example-container col-md-5">
      <h2>User details</h2>
      <mat-form-field class="example-full-width">
        <input matInput type="text" required [(ngModel)]="fullname" [errorStateMatcher]="matcher" formControlName="name"
          placeholder="Full Name">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Full name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput required [min]="minDate" [max]="maxDate" [errorStateMatcher]="matcher" [matDatepicker]="picker"
          [value]="picker" formControlName="dateofbirth" placeholder="Your birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          DOB is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select required placeholder="Gender" [errorStateMatcher]="matcher" formControlName="selectedgender">
          <mat-option *ngFor="let temp of gender" [id]="temp.id" [value]="temp.value">
            {{temp.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Gender is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-select required placeholder="Country" [errorStateMatcher]="matcher"
                formControlName="selectedcountry">
                <mat-option *ngFor="let temp of country" [id]="temp.id" [value]="temp.value">
                  {{temp.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Country is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput required formControlName="phone" [errorStateMatcher]="matcher" #message1 maxlength="10"
                placeholder="Phone">
              <mat-hint align="start"><strong>Mobile:</strong> 098 652 6222</mat-hint>
              <mat-hint align="end">{{message1.value.length}} / 10</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Phone is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-form-field class="example-full-width">
        <textarea style="overflow: hidden;" required [errorStateMatcher]="matcher" formControlName="bio"
          [(ngModel)]="bio" matInput #message2 placeholder="Bio" matTextareaAutosize matAutosizeMinRows=4
          matAutosizeMaxRows=6 maxlength="300"></textarea>
        <mat-hint align="start">Tell us about yourself.</mat-hint>
        <mat-hint align="end">{{message2.value.length}} / 300</mat-hint>
      </mat-form-field>
    </div>

    <div class="example-container col-md-5">
      <h2>Account details</h2>
      <mat-form-field class="example-full-width">
        <input matInput required type="text" [errorStateMatcher]="matcher" formControlName="username"
          placeholder="Username">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required type="email" [errorStateMatcher]="matcher" [formControl]="emailFormControl"
          formControlName="email" placeholder="Email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required type="password" [errorStateMatcher]="matcher" formControlName="pass"
          placeholder="Password">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required type="password" [errorStateMatcher]="matcher" formControlName="confirmpass"
          placeholder="Confirm Password">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Confirm Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-checkbox color="primary" (change)="changeCheck($event)">I agree terms & conditions</mat-checkbox>
      <div class="example-full-width">
        <button [disabled]="disabledAgreement" mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </div>

</form>